<html>
    <head>
        <title> EEE </title>
        <meta charset="utf-8"> </meta>
        <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    </head>
    <body>
        <h1> Tělocvična </h1>
    </body>


{% filter markdown %}
EEEE

* guacamole
* nigga
* penis

{% endfilter %}

</html>